*, body{
    font-family:Helvetica; 
    text-align: center;
    margin:0;
    color:#8b5f48;
    letter-spacing:2px
}

.title{ 
    padding:100px"
    font-weight:200;
    letter-spacing: 10;
}

div{
    margin:auto;
    width:500px;
}

sections{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:100vh;
}

.hero{
   background-image: url(./images/tea.jpg);
   background-size: cover;
   background-position: center;
}

.email{
    border:1px solid grey;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:35px;
    padding-right:35px;
    font-size:16px;
}

.button{
    padding:10px 25px;
    border:1px solid grey;
    font-size: 16px;
}

.mc-embedded-subscribe{
   
}